fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
databases
python-multipart
jinja2
httpx
pandas
numpy
pymongo
psycopg2-binary
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
python-dotenv
email-validator>=2.1.0.post1